<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- MathJax Configuration -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <!-- End of MathJax Configuration -->

    

    <!-- Custom Styles -->
    <style>
        .container {
            max-width: 800px; 
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
        }
    </style>
    <!-- End of Custom Styles -->

</head>
<body>
    <div class="container">
        {{ content }}
    </div>
</body>
</html>
